<form id="search-form" style="position:relative" data-ng-controller="SearchController" role="search" data-ng-submit="search()">
  <div class="form-group" data-ng-class="{'has-error': badQuery}">
   	<span class="glyphicon glyphicon-search"  style="left:8px;top:10px;color:#666;position: absolute;"></span>
    <input id="search" type="text" class="form-control" data-ng-model="q" data-ng-class="{'loading': loading}" placeholder="{{'搜索区块, 交易，地址'|translate}}" data-ng-submit="search()" focus="true">
    </div>
  <div class="no_matching text-danger" data-ng-show="badQuery" translate>找不到匹配信息!</div>
</form>
